@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim2 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

.notification {
    position: absolute !important;
    top: 100px;
    right: 30px;
    width: 300px;
    z-index: 2;
    opacity: 0.9;
    transition: 0.2s;
    text-align: left;
    animation: myAnim 0.5s ease 0s 1 normal forwards , myAnim2 0.5s ease 2s 1 normal forwards;
}