.label {
  float: left;
}

.no-line {
  text-decoration: none;
}

#main-content {
  background: #00416A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E4E5E6, #00416A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
  margin-bottom: -300px;
}

.btn{
  color:red;
}

.main-card{
  opacity: 0.9;
  box-shadow: 0px 2px 4px #00000036;
}
